/***************************HTMl Element Section*********************/
body {
  background-color: #f1fafb;
  color: #2B2E4A;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #203541;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #2B2E4A;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #203541;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: dotted none none;
  border-width: 6px;
  width: 4%;
  border-color: #a7cdcc;
  margin: 100px auto;
}

p {
  line-height: 2;
}

/***************************HTMl Element Section*********************/
/***************************Top Container *********************/
.topcontainer {
  position: relative;
  padding-top: 3.125em;

}

.bio-text {
  width: 30%;
  margin: auto;
  color: #40514E
}

.top_controler {
  position: absolute;
  width: 7.5%;
  right: 10.75em;
  top: 2.5em;
  height: 6.25em;
}

.bottom_controler {
  position: absolute;
  width: 7.5%;
  left: 8.625em;
  bottom: 1.875em;
  height: 6.25em;
}

.profile {
  margin-bottom: 150px;
}

/***************************Top Container *********************/
/***************************Middle Container*********************/
.middle-container {
  margin: 100px 0;
}

.contact-message {
  width: 30%;
  margin: 40px auto 60px;
}

.btn {
  display: inline-block;
  border: none;
  color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  width: auto;
  height: auto;
  font-size: 20px;
  padding: 10px 40px;
  background-image: linear-gradient(to top, #203541, #11999E);
  background-color: #2B2E4A;
}

.btn:hover {
  border: none;
  color: #ffffff;
  background-image: linear-gradient(to top, #74dac6, #2BC4AD);
  background-color: #2B2E4A;
}

/***************************Skills Section *********************/
.skill-row {
  width: 50%;
  margin: 100px auto 200px auto;
  text-align: left;
  line-height: 2;
}

.gameprogrammer, .teacher, .chart {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.contestprogrammer, .linux
{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.game-link
{
  color: #203541;
  text-decoration: underline;
  font-weight: bold;
}

.skill-row a.game-link:hover
{
  font-weight: normal;
  color: #071a52;

}
/***************************Middle Container*********************/
/***************************Below Container *********************/
.bottom-container {
  background-color: #203541;
  ;
  margin: 100px 0 0 0;
  padding: 50px 0 20px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.footer-link {
  text-decoration: none;
  margin: 0 20px 0 20px;
  color: #11999E;
}
a:hover {
  color: #EAF6F6;
}

/***************************Below Container *********************/
